* {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}

p {
  font-family: "Nunito";
  font-weight: 600;
  font-size: 1vw;
}

header {
  width: 100%;
  height: 10rem;
  position: fixed;
  /* background-color: purple; */
}

.nav-container {
  max-width: 100rem;
  /* background-color: yellow; */
  margin: 0 auto;
  padding: 0 1.5rem;
}

nav {
  width: 40%;
  padding: 3rem 0;
  float: right;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  color: white;
}

button {
  background-color: transparent;
  border: none;
  padding: 10px;
  border-radius: 10%;
  color: white;
  font-size: 25px;
  font-family: "Times New Roman";
}

button:hover {
  border: 3px double white;
  border-radius: 10%;
  padding: 10px;
  color: black;
  background-color: white;
  font-size: 25px;
}

.scrolling-active {
  /* background-color: #ffffff; */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), 
  url("images/whitebrick.jpg") center no-repeat;
  background-size: cover;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
  height: 4rem;
  overflow: hidden;
  z-index: 1;
}

.scrolling-active nav .nav-list {
  position: relative;
  bottom: 40px;
}

.scrolling-active nav button {
  color: black;
  font-size: 20px;
}

.scrolling-active nav button:hover {
  background-color: black;
  color: white;
  border: none;
}

.header-container {
  /* background-color: black; */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.25)),
    url("images/tropical.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-x: hidden;
}

.header {
  color: white;
  padding: 50px;
  border: 8px double white;
}

.transparent {
  color: white;
  position: absolute;
  top: 780px;
}

.transparent1 {
  color: white;
  position: absolute;
  top: 1670px;
}

.header h3 {
  font-size: 50px;
  letter-spacing: 5px;
}

.header h1 {
  font-size: 100px;
  letter-spacing: 5px;
}

.about-container {
  /* background-color: #dbdbdb; */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), 
  url("images/whitebrick.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  overflow: hidden;
}

.spacing-container {
  margin: auto auto;
}

.profile-image {
  width: 45%;
  border: 6px double black;
}

.size {
  font-size: 1vw;
}

.size2 {
  font-size: 3vw;
}

.about2-container {
  /* background-color: #000000; */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.25)),
    url("images/tropical.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  color: white;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  overflow: hidden;
}

.grid-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}

.grid-image-container2 {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.christmas-image {
  width: 50%;
  border: 6px double white;
}

.price-container {
  /* background-color: #dbdbdb; */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), 
  url("images/whitebrick.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  color: #000000;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  overflow: hidden;
}

.cups-image {
  width: 38%;
  border: 6px double black;
}

.photos-container {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), 
  url("images/whitebrick.jpg") center no-repeat;
  background-size: cover;
  /* background-color: #dbdbdb; */
  width: 100%;
  height: 700px;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow: hidden;
}

.invisible {
  display: none;
}

.outside-image {
  width: 100%;
  border: 4px solid black;
}

.room-image {
  width: 100%;
  border: 4px solid black;
}

.room-her-image {
  width: 100%;
  border: 4px solid black;
}

.bed-image {
  width: 100%;
  border: 4px solid black;
}

.contact-container {
  /* background-color: #000000; */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.25)),
    url("images/tropical.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
  color: white;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  overflow: hidden;
}

ion-icon {
  font-size: 80px;
}

.center {
  text-align: center;
}

.spacing-container a {
  color: white;
}

.sign {
  display: flex;
  position: relative;
  top: 30px;
}

.sign p {
  font-size: 1vw;
}

.thick {
  border-bottom: 9px solid black;
  width: 40%;
}

.thick2 {
  border-bottom: 9px solid white;
  width: 50%;
}

@media only screen and (max-width: 1024px) {
  /* galaxy fold, most phones */
  header {
    display: none;
  }

  .header-container {
    /* background-color: black; */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.25)),
      url("images/tropical.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-x: hidden;
  }

  p {
    font-size: 4vw;
  }

  .header {
    border: none;
  }

  .header h3 {
    font-size: 5vw;
    letter-spacing: 5px;
  }

  .header h1 {
    font-size: 12vw;
    letter-spacing: 5px;
  }

  .about-container {
    /* background-color: #dbdbdb; */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), 
    url("images/whitebrick.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
  }

  .spacing-container {
    margin: 40px;
  }

  .image-spacing-container {
    margin: 40px;
  }

  .image-spacing-container1 {
    margin: 0 40px 40px 40px;
  }

  .size {
    font-size: 4vw;
  }

  .size2 {
    font-size: 10vw;
  }

  .profile-image {
    width: 100%;
    border: 4px double black;
  }

  .about2-container {
    background-color: #000000;
    width: 100%;
    height: 100%;
    color: white;
    display: block;
    overflow: hidden;
  }

  .christmas-image {
    width: 100%;
    border: 4px double white;
  }

  .price-container {
    /* background-color: #858e99; */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), 
    url("images/whitebrick.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    color: #000000;
    display: block;
    overflow: hidden;
  }

  .cups-image {
    width: 100%;
    border: 4px double black;
  }

  .photos-container {
    /* background-color: #dbdbdb; */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), 
    url("images/whitebrick.jpg") center no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 100%;
    color: black;
    display: block;
    overflow: hidden;
  }

  .invisible {
    display: block;
  }

  .outside-image {
    width: 100%;
    border: 4px double black;
  }

  .room-image {
    width: 100%;
    border: 4px double black;
  }

  .room-her-image {
    width: 100%;
    border: 4px double black;
  }

  .bed-image {
    width: 100%;
    border: 4px double black;
  }

  .contact-container {
    background-color: #000000;
    width: 100%;
    height: 100%;
    color: white;
    display: block;
    overflow: hidden;
  }

  .thick {
    border-bottom: 9px solid black;
    width: 40%;
  }

  .thick2 {
    border-bottom: 9px solid white;
    width: 50%;
  }
}
